.container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 10px;
  padding-bottom: 50px;

}

.column {
  padding: 10px;
}

.column-text {
  padding-top: 30px;
  justify-content: center;
  align-items: left; 
}

.column-image {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
}

.row{
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.styled-image{
  border-radius: 25px;
  width: 100%;
  align-items: center;
}

.headline{
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: #526071;
}

.title{
font-family: 'Nunito Sans', sans-serif;
font-size: 36px;
font-weight: 800;
line-height: 46.8px;
text-align: left;
}

.description{
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: var(--textlineheightxl);
text-align: left;
margin-top: 10px;
}

.date{
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 500;
color: #526071;
text-align: left;
margin-top: 18px;
}

.read-more{
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #0090FF;
margin-top: 40px;
}

.limited-text {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3; 
max-height: calc(1.2em * 3); 
line-height: 1.2em;
}

.row-corousel {
grid-column: span 2;
/* border: 1px solid black; */
padding: 10px;
width: 100%;
text-align: center;
text-align: center;
}

.carousel-container {
position: relative;
width: 100%;
overflow: hidden;
}

.carousel-wrapper {
display: flex;
transition: transform 0.5s ease;
width: 100%; /* Ensure wrapper takes full width */
}

.carousel-item {
min-width: 100%; /* Ensure each item takes full width */
box-sizing: border-box;
display: flex;
}

.column {
padding: 10px;
}

.column-text {
flex: 1;
}

.column-image {
flex: 1;
}

.styled-image {
width: 100%;
height: auto;
}

.carousel-controls {
position: absolute;
bottom: 10px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.carousel-controls button {
background: transparent;
border: none;
cursor: pointer;
font-size: 18px;
margin: 0 10px;
}

.carousel-controls span {
font-size: 16px;
}
